.root {
}

:global {
  // .Header h1 {
  //   color: black;
  // }
  .pre-header-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;

    div {
      max-width: 640px;
    }
  }
}
