.root {
}

.illustration-container {
  text-align: center;
  margin-top: -20px;
  padding-bottom: 5px;

  img {
    max-width: 300px !important;
  }
}

:global {
  .pre-header-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;

    div,
    img {
      width: 100%;
      max-width: 640px;
    }
  }

  .no-margin-collapse {
    padding-bottom: 2rem;
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }

  .Gallery {
    background-color: aquamarine;
  }

  [class*="u-richtext"] > h3 {
    font-family: ABCSerif, serif;
    text-align: center;
    font-weight: 500;
    font-size: 23px;
  }
}
