@mixin for-size($range) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}

.root {
}

.illustration-container {
  text-align: center;
  margin-top: -20px;
  padding-bottom: 5px;

  img {
    max-width: 300px !important;
  }
}

:global {
  .pre-header-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;

    div,
    img {
      width: 100%;
      max-width: 640px;
    }
  }

  .no-margin-collapse {
    padding-bottom: 2rem;
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }

  .Gallery {
    .Gallery-richtextTileContent {
      background-color: #e5f2f9;
    }

    .Quote.is-pullquote {
      text-align: left;
    }

    .Quote p {
      font-size: 14px;

      @include for-size(tablet-portrait-up) {
        font-size: 16px;
      }

      @include for-size(tablet-landscape-up) {
        font-size: 18px;
      }

      @include for-size(desktop-up) {
        font-size: 19px;
      }

      @include for-size(big-desktop-up) {
        font-size: 20px;
      }


      color: #3a6485;
      font-style: italic;
      font-weight: normal;
    }

    .Quote footer {
      font-family: "ABCSerif", "Book Antiqua", "Palatino Linotype", Palatino,
        serif;
      color: #3a6485 !important;
      font-weight: bold;
      font-size: 14px;

      @include for-size(tablet-portrait-up) {
        font-size: 16px;
      }

      @include for-size(tablet-landscape-up) {
        font-size: 18px;
      }

      @include for-size(desktop-up) {
        font-size: 19px;
      }

      @include for-size(big-desktop-up) {
        font-size: 20px;
      }
    }

    .Gallery-step-next,
    .Gallery-step-prev,
    .Gallery-index {
      background-color: transparent;
      color: #ea5b36;

      svg polyline {
        stroke: #ea5b36;
      }
    }

    .Gallery-controls {
    }
  }

  [class*="u-richtext"] > h3 {
    font-family: ABCSerif, serif;
    text-align: center;
    font-size: 1.6rem;
  }

  .AC_W_aNL {
    overflow: hidden;
  }

  .distancegraphic,
  .accessingcaregraphic {
    margin-bottom: -64px;
  }
}
